<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net472" />
  <package id="GroupDocs.Conversion" version="20.7.0" targetFramework="net472" />
  <package id="itext7" version="7.1.12" targetFramework="net472" />
  <package id="Magick.NET.Core" version="4.1.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.21.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net472" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net472" />
  <package id="SkiaSharp" version="2.80.2-preview.19" targetFramework="net472" />
  <package id="Splat" version="9.5.20" targetFramework="net472" />
  <package id="squirrel.windows" version="1.9.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.0-preview.7.20364.11" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-preview.7.20364.11" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0-preview.7.20364.11" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0-preview.7.20364.11" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0-preview.7.20364.11" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0-preview.7.20364.11" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>